*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
font-size: 20px;

}

body {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 50vh;
  padding: 2rem;
  position: absolute;
  background-color: #6495ED;
  height: 50vh;
}
body li {
  list-style: none;
}

.header {
  color: white;
  position: absolute;
  top: 70px;
  left: 300px;
  font-size: 30px;
}

li.completed {
  color: green;
  text-decoration: line-through;
}
ul.auth li  {
  padding: 10px;
  background: blue;
  margin-left: -40;
  width: 150vh;
  font-size: 40px;
  list-style: none;
}
ul.auth {
  padding-left: 0px;
}
ul.auth li:first-child {
  border-radius: 2px solid gray;
}
a {
  list-style: none;
  text-decoration: none;
  color: white;
}
 a.logout, a.login, a.register{
   border: 2px solid gray;

 }
 a.login:hover,  a.register:hover, a.logout:hover  {

   background: black;
 }


div.filters ul {
  display: flex;
  padding-left: 350px;
  justify-content: space-between;
  align-items: center;
  background: #000080;
  height: 50px;
}
div.new {
  color: white;
  position: absolute;
  top: 250px;
}
ul.body {
  border: green solid 3px;
  background: #4B0082;
}
 div.buttons {
   display: flex;
   padding: 20px;

 }

 div.login-page, div.register-page {
   background: #4B0082;
   height: 20vh;
 }
li span, ul.auth li.out {
  padding-left: 70%;
}
li span {
   color: white;
}
div.edit {
  background: #4B0082;
  height: 100%;
}
.mark button:hover, div.filters ul li:first-child:hover {
  background: green;
}
 div.filters ul li:nth-child(2):hover, .delete button:hover{
  background: red;
}
div.filters ul li:nth-child(3n+3):hover, .edit button:hover{
  color: black;
  background: blue;

}
